@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row mt-5" >
        <div class="col-md-4 ">
            <div class="card" style="width:20rem; height:25rem;">
                <img class="card-img-top" src="~/asserts/Home/Produtos.webp" alt="Card image cap" style="height:60%;">
                <div class="card-body">
                    <h5 class="card-title">Products</h5>
                    <p class="card-text">List of All Products</p>
                    <a class="btn btn-outline-primary" asp-controller="Products" asp-action="Index">Go to Products</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card" style="width:20rem; height:25rem;">
                <img class="card-img-top" src="~/asserts/Home/Fornecedores.jpeg" alt="Card image cap" style="height:60%;">
                <div class="card-body">
                    <h5 class="card-title">Providers</h5>
                    <p class="card-text">List of All Providers</p>
                    <a class="btn btn-outline-primary" asp-controller="Providers" asp-action="Index">Go to Providers</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card" style="width:20rem; height:25rem;">
                <img class="card-img-top" src="~/asserts/Home/produto.png" alt="Card image cap" style="height:60%;">
                <div class="card-body">
                    <h5 class="card-title">Batch</h5>
                    <p class="card-text">List of All Batches</p>
                    <a class="btn btn-outline-primary" asp-controller="Batch" asp-action="Index">Go to Batches</a>
                </div>
            </div>
        </div>
    </div>
</div>
